body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.masthead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    transform:  translate(-380px, -80px)
}

.submit {
  background-color: rgb(10, 10, 95);
  outline: none;
}

.submit,
.code:focus {
  outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
form.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
form.masthead .masthead-heading {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  form.masthead {
    padding-top: 31.6rem;
    padding-bottom: 12.5rem;
  }
  form.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
}

